@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>


<div class="mega-search-library">
    <h2>What can we help you find?</h2>
    <input type="text" size=50 class="input-lg" style="margin:5px" /><button type="button" class="btn-lg" style="margin:5px">Search</button>
</div>

